extends layout

block content
  h1= title
  p Weather in #{title}
  p Today is #{weather}
  p Current temperature is #{temp} F. Highest temperature in Fahrenheit would be #{high_temp} F. Lowest would be #{low_temp} F.
  p Wind speed is #{speed} meters per hour.
